.row.text-center#about
  .small-12.columns
    %h1 About Me
    %img(src="images/face.jpg" alt="My Face")
    %br
    %br
    %p
      I'm a full time student at NYU (class of '15), and I live in downtown Manhattan. I spend my free time working, hacking, eating delicious food and exploring the city.
    %p
      My "real" name is Joshua Qian, but I like to go by Josh Click.
    %p
      Find me on:
    %a.icon.gh(href="http://github.com/joshclick/")
    %a.icon.fb(href="http://www.facebook.com/JoshQian")
    %a.icon.in(href="http://www.linkedin.com/pub/joshua-qian/56/404/483")