.row
  .small-12.columns
    %header
      %h1
        My Blog
  .small-12.columns#post-list
    - @posts.each do |post|
      .post
        %h2
          = post.title
        :markdown
          #{post.body}
        %p.published
          = post.published_on
        -if admin?
          %p
            %a{:href => ['/blog/edit/', post.id].join} Edit