%h3
  The Grid

.row
  .large-12.columns
    .panel
      %p
        This is a twelve column section in a row. Each of these includes a div.panel element so you can see where the columns are - it's not required at all for the grid.
.row
  .large-6.columns
    .panel
      %p
        Six Columns
  .large-6.columns
    .panel
      %p
        Six Columns
.row
  .large-4.columns
    .panel
      %p
        Four Columns
  .large-4.columns
    .panel
      %p
        Four Columns
  .large-4.columns
    .panel
      %p
        Four Columns

%h3
  Buttons

.row
  .large-6.columns
    %p
      %a.small.button(href="#")Small Button
    %p
      %a.button(href="#")Medium Button
    %p
      %a.large.button(href="#")Large Button
  .large-6.columns
    %p
      %a.small.alert.button(href="#")Small Alert Button
    %p
      %a.success.button(href="#")Medium Success Button
    %p
      %a.large.secondary.button(href="#")Large Secondary Button