!!!
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> 
%html.no-js(lang="en")
  <!--<![endif]-->

  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width")

    %title
      Foundation 4

    %link(rel="stylesheet" href="/stylesheets/app.css")
    %script(src="javascripts/vendor/custom.modernizr.js")

  %body
    .row
      .large-12.columns
        %h2
          Welcome to Foundation
        %p
          This is version 4.3.0.
        %br/
    .row
      .large-8.columns
        !=yield
      
      .large-4.columns
        %h4
          Getting Started
        %p
          We're stoked you want to try Foundation! To get going, this file (index.html) includes some basic styles you can modify, play around with, or totally destroy to get going.

        %h4
          Other Resources
        %p
          Once you've exhausted the fun in this document, you should check out:
        %ul.disc
          %li
            %a(href="http://foundation.zurb.com/docs")
              Foundation Documentation
              %br/
              Everything you need to know about using the framework.
          %li
            %a(href="http://github.com/zurb/foundation")
              Foundation on Github%br/Latest code, issue reports, feature requests and more.
          %li
            %a(href="http://twitter.com/foundationzurb")
              @foundationzurb%br/Ping us on Twitter if you have questions. If you build something with this we'd love to see it (and send you a totally boss sticker).

    :javascript
      document.write('<script src=' +
        ('__proto__' in {} ? 'javascripts/vendor/zepto' : 'javascripts/vendor/jquery') +
        '.js><\/script>')

    %script(src="javascripts/foundation/foundation.js")
    
    %script(src="javascripts/foundation/foundation.abide.js")
    
    %script(src="javascripts/foundation/foundation.alerts.js")
    
    %script(src="javascripts/foundation/foundation.clearing.js")
    
    %script(src="javascripts/foundation/foundation.cookie.js")
    
    %script(src="javascripts/foundation/foundation.dropdown.js")
    
    %script(src="javascripts/foundation/foundation.forms.js")
    
    %script(src="javascripts/foundation/foundation.interchange.js")
    
    %script(src="javascripts/foundation/foundation.joyride.js")
    
    %script(src="javascripts/foundation/foundation.magellan.js")
    
    %script(src="javascripts/foundation/foundation.orbit.js")
    
    %script(src="javascripts/foundation/foundation.placeholder.js")
    
    %script(src="javascripts/foundation/foundation.reveal.js")
    
    %script(src="javascripts/foundation/foundation.section.js")
    
    %script(src="javascripts/foundation/foundation.tooltips.js")
    
    %script(src="javascripts/foundation/foundation.topbar.js")
    
    :javascript
      $(document).foundation();