.row
  .small-12.columns
    %header
      %h1 Create Post
  %article.small-12.columns
    %form(action="/blog" method='post')
      %fieldset
        %legend New Post
        %p
          %label(for='post_title')
            Title
            %br
          %input#post_title(type='text'name='post[title]')
        %p
          %label(for='post_body')
            Body
            %br
          %textarea#post_body(name='post[body]')
        %p
          %label(for='published_on')
            Published On
            %br
          %input#published_on{:type => 'text', :name => 'post[published_on]'}
        %fieldset
          %p
            %button Create Post
            or
            %a(href='/blog') Cancel