.row
  .small-12.columns
    %h1 My Resume

    %h2 Education
    .small-12.columns.job
      %h3 New York University: College of Arts and Science
      %h4 Class of '15
      %p
        NYU Presidential Honors Scholar
        %br
        Computer Science
        %br
        GPA: 3.65


    %h2 Experience
    .small-12.columns.job
      %h3 Parse.ly
      %p
        Front-end Development
        %br
        Jun 2013 – Present
      %ul
        %li Build new public site (parse.ly) from scratch using: Hyde, Bootstrap, HTML, CSS, JS
        %li Handle “big data” and build D3 data visualizations around it for public consumption

    .small-12.columns.job
      %h3 Itemize.com
      %p
        Business Intern
        %br
        Apr 2013 – Jun 2013
      %ul
        %li Market research and official documentation preparation
        %li Improved receipt processing algorithms via supervised learning

    .small-12.columns.job
      %h3 Let's Get Ready
      %p
        Head Math Coach (Volunteer)
        %br
        Aug 2012 - Apr 2013
      %ul
        %li Worked with low income students to boost their SAT Scores
        %li Empowered students to make college an attainable reality

    .small-12.columns.job
      %h3 TickPick.com
      %p
        Marketing, Business &amp; Engineering Intern
        %br
        May 2013 - Jan 2013
      %ul 
        %li Designed, programed and troubleshot new HTML5 iteration of website
        %li Automated essential tasks with scripting and macros
        %li Created and managed Facebook, PPC and email campaigns
        %li Tracked statistics using various analytical tools (Google Analytics, CrazyEgg, SEOMoz, Spyfu, etc)


    %h2 Activities
    .small-12.columns.job
      %h3 hackNY Fellowship
      %p
        2013 Summer Fellow
        %br
        Jun 2013 - Present
      %ul 
        %li Participate in speaker series, led by founders of successful NYC startups and other tech leaders in NYC
        %li Engage with other fellows to expand technical knowledge and network
    
    .small-12.columns.job
      %h3 NYU Presidential Honors Scholars Trips
      %p
        Florence, Italy &amp; Berlin, Germany
        %br
        Winter Break 2011 &amp; Spring Break 2013
      %ul 
        %li Learn about the history of Florence and Berlin and experience the culture, led by NYU Professors

    .small-12.columns.job
      %h3 NYU Alternative Breaks
      %p
        Volunteer @ Joplin, MO
        %br
      %ul
        %li Aid locals in rebuilding their town after a tornado wiped it clean
        %li Looked at poverty and disaster in America, first hand