.row#about-img
  %img(src="images/forest-ponder.jpg" alt="Forest Pondering")

.row.text-center#story
  .small-12.columns
    %h1 Join Me
    %p life is an adventure

    .row.event
      %p Present - The End
      %h3 Happ<em>y</em>ness
      %h4 Earth

    .row.event
      %p June 11, 2013
      %h3 Love
      %h4 14th &amp; 3rd, New York

    .row.event
      %p June 4, 2013 - Present
      %h3 Internship @ Parsely
      %h4 25th &amp; 7th, New York

    .row.event
      %p June 2, 2013 - Present
      %h3 HackNY Fellowship
      %h4 New York, NY

    .row.event
      %p April 6-7, 2013
      %h3 HackNY Hackathon
      %h4 Columbia, New York, NY

    .row.event
      %p March 17-24, 2013
      %h3 NYU Presidential Honors Scholars Spring Trip
      %h4 Berlin, Germany

    .row.event
      %p January 18-20, 2013: Age 20
      %h3 PennApps 2013 Spring Hackathon
      %h4 UPenn, Philadelphia, PA

    .row.event
      %p October 29 - November 2, 2012
      %h3 Hurricane Sandy Power Outage
      %h4 Kimmel Center, New York

    .row.event
      %p September 4, 2012
      %h3 First Day of Classes - Sophomore Year
      %h4 New York, NY

    .row.event
      %p August 21 - September 1, 2012
      %h3 NYU Welcome Week Leader
      %h4 4th &amp; Uni, New York

    .row.event
      %p May 2012 - January 2013
      %h3 Internship @ TickPick
      %h4 38th &amp; 9th, New York

    .row.event
      %p March 10-18, 2012
      %h3 Alternative Spring Break
      %h4 Joplin, MO

    .row.event
      %p January 3 - 10, 2012: Age 19
      %h3 NYU Presidential Honors Scholars
      %h4 Winter Trip "Florence

    .row.event
      %p September 6, 2011: Age 18
      %h3 First Day of Classes @ NYU
      %h4 4th &amp; Uni, New York, NY

    .row.event
      %p Date Unknown: Age 3
      %h3 Move to America
      %h4 San Antonio, Texas, USA

    .row.event
      %p January 8, 1993: Age 0
      %h3 Birth
      %h4 Shanghai, China
  
    %img#seedling(src="images/seedling.png" alt="Seedling")